:root {
    --wine:#732001;
    --dark-wine: #511600;
    --dark-orange: #A85102;
    --skin-color: #F1BB76;
    --yellow:  #F0B504;
    --white: #FFF;
    --black: #000; 
    --wine-candy: #020c50;
}



